<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>PinPin</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel ="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel ="stylesheet" href="/stylesheets/bootstrap-iso.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/ng-file-upload-shim.min.js"></script>
    <script src="/javascripts/ng-file-upload.min.js"></script>
    <script src="/javascripts/ng-img-crop.js"></script>
    <script src="/javascripts/angular-aria.js"></script>
    <script src="/javascripts/angular-animate.js"></script>
    <script src="/javascripts/angular-material.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/Controllers/ctrlSearch.js"></script>

</head>

<style>
html.md-default-theme, html, body.md-default-theme, body {
    background-color: transparent;
}

</style>

<body>
<div id="page-loading">
    <div class="loader-background">
        <span class="loader center-position"><span class="loader-inner"></span></span>
    </div>
</div>
<script type="text/javascript">
    $(window).on("load", function() {
        $('#page-loading')
                .fadeOut('slow');
    });
</script>

{{#if user}}
    {{#unless error}}
    <div id = "pinpin">
        <div class="box"><a href="/users/home">PinPin</a></div>
    </div>
    <div id="nav-wrapper"><div class = "nav">
        <ul>
            {{#if feed}}
                <a href="/users/feed"><li class="nav_elem active"><span class="glyphicon glyphicon-home"></span></li></a>
            {{else}}
                <a href="/users/feed"><li class="nav_elem"><span class="glyphicon glyphicon-home"></span></li></a>
            {{/if}}
            {{#if home}}
                <a href="/users/home"><li class="nav_elem active"><span class="glyphicon glyphicon-user"></span></li></a>
            {{else}}
                <a href="/users/home"><li class="nav_elem"><span class="glyphicon glyphicon-user"></span></li></a>
            {{/if}}
            <li class="nav_elem search" ng-controller="ctrlSearch" ng-init="init()"><input type="text" class="search_text" my-enter="search()" ng-model="searchValue"><span class="glyphicon glyphicon-search" ng-click="search()"></span></li>
            {{#if edit_account}}
                <a href="/users/edit_account"><li class="nav_elem active"><span class="glyphicon glyphicon-wrench"></span></li></a>
            {{else}}
                <a href="/users/edit_account"><li class="nav_elem"><span class="glyphicon glyphicon-wrench"></span></li></a>
            {{/if}}
            <a href="/users/logout"><li class="nav_elem"><span class="glyphicon glyphicon-log-out"></span></li></a>
        </ul>
    </div></div>
    {{/unless}}
{{else}}

{{/if}}
    {{{body}}}
</body>
</html>